/* Importo i font che userò */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Azzero i default per tutti i browser */
:root {
    --c-primary: #1473E6;
    /* vedere il link per capire i valori: https://codepen.io/sosuke/pen/Pjoqqp */
    --c-primary-svg: brightness(0) saturate(100%) invert(36%) sepia(93%) saturate(1123%) hue-rotate(191deg) brightness(88%) contrast(104%);
    --c-black: rgba(44, 44, 44, 1);
    --c-black-30: rgba(75, 75, 75, 1);
    --c-black-20: rgba(110, 110, 110, 1);
    --c-border: rgba(245, 245, 245, 1);
    --c-white: rgba(255, 255, 255, 1);

    --root-font-size: 16px;
    --fs-x-small: 0.75rem;
    --fs-xx-small: 0.5rem;
    --font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    --p-padding-around: 8px;
    --p-space-between: 16px;
}

html,

body {
    margin: 2px;
    padding: 5px;
    font-family: var(--font-family);
    font-size: var(--root-font-size);
    box-sizing: border-box;
}

header.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: var(--p-padding-around);
    margin: var(--p-space-between);

}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*stile voci menù*/
header nav ul a {
    text-decoration: none;
    color: var(--c-black-20);
    font-size: var(--fs-xx-small);
    font-weight: bold;
}

/*grandezza immagine*/
header img.logo {
    width: 80px;
}

/*stile testo paragrafo*/
p {
    text-align: justify;
    color: var(--c-black-20);
}

/*stile testo sopra titolo*/
header p {
    color: var(--c-black-20);
    font-size: var(--fs-xx-small);
    font-weight: bold;
}

/*flexbox del footer dell'article*/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
    align-self: end;
}

/*stile della classe time to read*/
footer .time-to-read {
    font-size: var(--fs-xx-small);
    font-weight: bold;
    color: rgba(110, 110, 110, 1);
}

/*stile della classe read full*/
footer .read-full {
    font-size: var(--fs-x-small);
    font-weight: bold;
    color: var(--c-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

/*rimuove sottolineatura della classe read full*/
footer a.read-full {
    text-decoration: none;
}

/*suddivide i vari article*/
article {
    border: solid var(--c-border) 1px;
    border-radius: 5px;
    padding: var(--p-padding-around);
    margin: var(--p-space-between);
}

@media (min-width="1024x") {
    aside {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    aside article {
        flex: 1 1 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        justify-content: space-between;
    }

    aside article>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/*spazi*/
article h2,
article h1 {
    padding: 0;
    margin: 8px 0 0 0;
}

@media(min-width="1024x") {
    article.main {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
}

/*ingrandisce e diminuisce dimensioni immagine main in base larghezza schermo*/
article.main>img {
    width: 100%;
    height: 100%;
    padding-right: 20px;
    object-fit: contain;
    flex: 1 1 500px;
}